* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Geist Mono Light';
    src: url('../fonts/GeistMono-Light.otf') format('opentype');
    font-style: normal;
}

@font-face {
    font-family: 'Geist Mono Bold';
    src: url('../fonts/GeistMono-Bold.otf') format('opentype');
    font-style: normal;
}


html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    background-color: #1a1a1a;
    color: #fff;
    font-family: 'Geist Mono Light';
    font-size: 14px;
    width: 100%;
    word-spacing: 6px;
    margin: 0;
    padding: 15px;
    box-sizing: border-box;
}

.main_container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

h1 {
    font-family: 'Geist Mono Bold';
    font-size: 20px;
    color: #FF3E7E;
    padding-bottom: 5px;
}

.about {
    color: #A3A3A3;
    font-size: 12px;
    padding-top: 20;

}

.about a {
    color: #A3A3A3;
    font-size: 11px;
    text-decoration: none;
}

.about a:hover {
    color: #1BC184;
    font-size: 11px;
    text-decoration: none;
}

a {
    color: #1BC184;
    text-decoration: none;
}

a:hover {
    color: #1BC184;
    text-decoration: none;
}

.about_row {
    display: flex;
    flex-direction: row;
    gap: 9px;
    overflow-wrap: break-word;
    word-break: break-all;
}

.main_container head {
    padding: 24px, 20px, 32px, 20px;
}

#first_text {
    padding-top: 24px;
    padding-bottom: 16px;
}

.right_from_logo .regular_text {
    padding-bottom: 5px;
    font-size: 13px;
}

.head_info {
    width: 100%;
    padding-top: 0px;
    padding-bottom: 16px;
    height: 80px;
    display: flex;
    flex-direction: row;
}

.text_box {
    width: 100%;
    height: auto;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    border: 2px solid #333333;
    background-color: #242424;
    border-radius: 6px;
    padding: 16px;
    padding-left: 10px;
}

.regular_text {
    font-family: 'Geist Mono Light';
    color: #fff;
    font-size: 15px;
    width: 100%;
    word-spacing: 6px;
    text-align: left;
}

.text_in_a_box {
    font-family: 'Geist Mono Light';
    color: #fff;
    font-size: 13px;
    width: 100%;
    word-spacing: 6px;
}

.personal_info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 5px;
}

.personal_info .left {
    color: #A3A3A3;
    font-size: 13px;
}

.personal_info .right {
    color: #FF3E7E;
    font-family: 'Geist Mono Bold';
    font-size: 13px;
}

.text_box .about .about_row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 5px;
    padding-top: 5px;
}

.ADDITION .about {
    padding-bottom: 16px;
}

.ABOUT_MAJOR .about {
    padding-bottom: 11px;
}

.ABOUT_SKILLS .for_padding .about {
    padding-bottom: 16px;
}

.ABOUT_SYSTEMS .for_padding .about {
    padding-bottom: 11px;
}

.ABOUT_SYSTEMS .text1 {
    padding-bottom: 16px;
}

.gif_box {
    width: 100%;
    height: auto;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    border: 2px solid #333333;
    background-color: #242424;
    border-radius: 6px;
    padding: 0;
    overflow: hidden;
}

.ABOUT_EXAMPLE .for_padding .about {
    padding-bottom: 16px;
}

.gif img {
    display: block;
    width: 100%;
    height: auto;
}

.ABOUT_EXPERIENCE .for_padding .about {
    padding-bottom: 16px;
}

.ABOUT_LANGUAGES .for_padding .about {
    padding-bottom: 11px;
}

.ABOUT_LANGUAGES .text1 .regular_text {
    font-family: 'Geist Mono Bold';
    color: #FF3E7E;
    padding-bottom: 12px;
}

.ABOUT_LANGUAGES .regular_text {
    padding-bottom: 5px;
}

.ABOUT_LANGUAGES .about .about_row {
    padding-bottom: 16px;
}

.ABOUT_FIELD .for_padding .about {
    padding-bottom: 16px;
}

.text_box_end {
    width: 100%;
    height: auto;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    border: 2px solid #FF3E7E;
    background-color: #242424;
    border-radius: 6px;
    padding: 16px;
    padding-left: 10px;
    padding-bottom: 20px;
}

.text_box_end .text1 {
    font-family: 'Geist Mono Bold';
    font-size: 16px;
    color: #FF3E7E;
    padding-bottom: 5px;
}

footer .for_padding {
    padding-bottom: 20px;
    padding-top: 38px;
}

hr {
    border: none;
    height: 0.5px;
    background-color: #A3A3A3;
}

footer .about .about_row {
    width: 100%;
    text-align: center;
}

footer .about .text2 {
    width: 100%;
    padding-top: 16px;
    font-size: 11px;
    text-align: center;
    padding-bottom: 50px;
    overflow-wrap: break-word;
}

.about_end {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.about_end a {
    white-space: nowrap;
}