/* Синтаксис CSS
селектор {
    свойство: значение;
} */

@font-face {
    font-family: 'Fixedsys Excelsior';
    src: url('../fonts/FSEX300.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}


h1 {
    font-size: 50px;
    font-weight: 200;
    color: #FF3E7E;
    padding-bottom: 12px;
    padding-top: 12px;
}

.main_container {
    overflow: hidden;
    height: 100%;
    margin: 0;
}

body {
    background-color: #1a1a1a;
    color: #fff;
    font-family: 'Fixedsys Excelsior';
    font-size: 31.25px;
    font-weight: 200;
    letter-spacing: 1px;
    text-align: justify;
    display: flex;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    word-spacing: 6px;
}

.about {
    color: #A3A3A3;
    font-size: 17.5px;
    padding-top: 20;
    padding-bottom: 38px;
}

.about a {
    color: #A3A3A3;
    font-size: 17.5px;
    text-decoration: none;
}

.about a:hover {
    color: #1BC184;
    font-size: 17.5px;
    text-decoration: none;
}

.about_row {
    display: flex;
    flex-direction: row;
    gap: 28px;
}

.left_slidebar,
.right_slidebar {
    flex-grow: 1;
    flex-basis: 0;
    flex-shrink: 1;
    padding-top: 202px;
}

.left_slidebar {
    padding-right: 4%;
    padding-top: 104px;
    justify-content: flex-end;
    display: flex;
}

.right_slidebar {
    padding-left: 4%;
    padding-top: 113px;
    text-align: left;
    color: #FF3E7E;
    font-size: 31.25px;

}

header {
    color: #FF3E7E;
}

div.center_box {
    width: 1125px;
    flex-shrink: 0;
    height: 100vh;
    overflow-y: auto;
    box-sizing: border-box;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

div.center_box_content {
    max-width: 961, 25px;
    margin: 0 auto;
    padding-top: 189px;
    padding-bottom: 126px;

}

.container_start .regular_text {
    padding-bottom: 12px;
}

.container_start .about {
    padding: 0;
    padding-bottom: 12px;
}

.container_start .about_row {
    padding-bottom: 20px;
}

.container_start {
    padding-bottom: 107.5px;
}

.regular_text {
    padding-bottom: 47.5px;
}

a {
    color: #fff;
    text-decoration: none;
}

a:hover {
    color: #1BC184;
    text-decoration: none;
}

#python_1c {
    padding-bottom: 20px;
}

#word_powerpoint {
    padding-bottom: 47.5px;

}

.example_gif .gif {
    padding-bottom: 47.5px;
}

.example_gif .regular_text {
    padding-bottom: 107.5px;
}

.languages .regular_text {
    padding-bottom: 20px;
}

#ru {
    padding-bottom: 0px;
}

#eng {
    padding-bottom: 47.5px;
}

.goodbye {
    font-size: 35px;
    text-align: center;
}

footer {
    text-align: center;
}

footer .about .about_row {
    padding-top: 20px;
    padding-bottom: 20px;
    justify-content: center;
    alignment-baseline: center;
}

.right_slidebar .about {
    padding-bottom: 12px;
}

hr {
    border: none;
    height: 0.5px;
    background-color: #A3A3A3;
}